::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(24, 24, 27); 
  }
  ::-webkit-scrollbar-track:hover {
    background: rgb(40, 39, 39); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #454343; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #656161; 
  }