.container {
    min-width: 100%;

}

.navicon:hover{
    background-color: #262727;
}

.iconimg {
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 25px;
}