.container {
    background-color: #18191a;
    min-width: 100%;

}

.iconimg {
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;
    background-size: 25px;
}